<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Unit of Measurement{% endtrans %}</title>
</head>
<body>
  <div class="container-fluid">
    <ul class="nav nav-pills " role="tablist">
      <li role="presentation" class="active"><a href="#unit_create" aria-controls="unit_create" role="tab" data-toggle="tab">{% trans %}Create UOM {% endtrans %}</a></li>
      <li role="presentation"><a href="#unit_edit" aria-controls="unit_edit" role="tab" data-toggle="tab">{% trans %}Edit UOM{% endtrans %}</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="unit_create">

      </div>
      <div role="tabpanel" class="tab-pane fade in " id="unit_edit">

      </div>
    </div>
  </div>


  </div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/unitofmeasurement.js')}}"></script>
</body>
</html>
